<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.world.securitymanagement.user.mapper.OptLogMapper">
  <resultMap id="BaseResultMap" type="com.my.world.securitymanagement.user.po.OptLog">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="opt_user" jdbcType="VARCHAR" property="optUser" />
    <result column="opt_time" jdbcType="TIMESTAMP" property="optTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, content, opt_user, opt_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opt_log
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from opt_log
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.my.world.securitymanagement.user.po.OptLog">
    insert into opt_log (id, type, content, 
      opt_user, opt_time)
    values (#{id,jdbcType=CHAR}, #{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{optUser,jdbcType=VARCHAR}, #{optTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.my.world.securitymanagement.user.po.OptLog">
    insert into opt_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="optUser != null">
        opt_user,
      </if>
      <if test="optTime != null">
        opt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="optUser != null">
        #{optUser,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null">
        #{optTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.world.securitymanagement.user.po.OptLog">
    update opt_log
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="optUser != null">
        opt_user = #{optUser,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null">
        opt_time = #{optTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.world.securitymanagement.user.po.OptLog">
    update opt_log
    set type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      opt_user = #{optUser,jdbcType=VARCHAR},
      opt_time = #{optTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>