<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.security.login.mapper.ResExtPropValueMapper">
  <resultMap id="BaseResultMap" type="com.my.security.login.po.ResExtPropValue">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="res_type_id" jdbcType="VARCHAR" property="resTypeId" />
    <result column="res_ext_prop_id" jdbcType="VARCHAR" property="resExtPropId" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, res_type_id, res_ext_prop_id, value, create_user, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from res_ext_prop_value
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from res_ext_prop_value
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.my.security.login.po.ResExtPropValue">
    insert into res_ext_prop_value (id, res_type_id, res_ext_prop_id, 
      value, create_user, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{resTypeId,jdbcType=VARCHAR}, #{resExtPropId,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.my.security.login.po.ResExtPropValue">
    insert into res_ext_prop_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resTypeId != null">
        res_type_id,
      </if>
      <if test="resExtPropId != null">
        res_ext_prop_id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="resTypeId != null">
        #{resTypeId,jdbcType=VARCHAR},
      </if>
      <if test="resExtPropId != null">
        #{resExtPropId,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.security.login.po.ResExtPropValue">
    update res_ext_prop_value
    <set>
      <if test="resTypeId != null">
        res_type_id = #{resTypeId,jdbcType=VARCHAR},
      </if>
      <if test="resExtPropId != null">
        res_ext_prop_id = #{resExtPropId,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.security.login.po.ResExtPropValue">
    update res_ext_prop_value
    set res_type_id = #{resTypeId,jdbcType=VARCHAR},
      res_ext_prop_id = #{resExtPropId,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>